# WARNING: DO NOT HOOK THIS UP TO AN EMAIL ACCOUNT WHICH YOU CARE ABOUT
# THE MAIL IN. JESTER *WILL* DELETE ALL OF YOUR EMAIL IF YOU DO THAT.

imap.address   = "mail.<<DOMAIN>>"
imap.user      = "<<USERNAME>>@<<DOMAIN>>"
imap.password  = "<<PASSWORD>>"

smtp.address   = "mail.<<DOMAIN>>"
smtp.user      = "<<USER>>@<<DOMAIN>>"
smtp.password  = "<<PASSWORD>>" 

service.domain           = "<<DOMAIN>>"
service.templates_dir    = "views"
service.default_sender   = "<<USERNAME>>@<<DOMAIN>>"
service.polling_interval = 10

application.jester_db = "data/jester.store"
